@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  background-color: rgb(39, 39, 39);
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Nunito Sans", sans-serif;
}

p,
a {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 150;
  color: rgb(216, 216, 216);
  /* background: rgba(0, 0, 0, 0.8); */
  border-radius: 2em;
  font-size: 1.25em;
  /*padding: 0.25em; */
}
a {
  font-weight: 300;
  font-size: 1em;
  color: rgb(216, 216, 216);
}
a:hover {
  color: FireBrick;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.header-links {
  /* an elegant button */
  display: inline-block;
  padding: 5px 10px;
  margin: 7px 0;
  border-radius: 5px;
  background: rgb(158, 7, 7);
  color: #dbd7dd;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/* with hover */
.header-links:hover {
  background: rgb(112, 7, 7);
  color: black;
  text-decoration: underline;
}

.firstrow {
  margin-top: 3em;
  /* border-bottom: black 0.5px solid; */
  margin-bottom: 3em;
  padding-bottom: 3em;
}
h1 {
  text-transform: uppercase;
  color: rgb(235, 235, 235);
  font-size: 4.5em;
}
h2 {
  color: rgb(235, 235, 235);
}
h3 {
  color: rgb(235, 235, 235);
}

h2 .firstrow {
  margin-top: 3em;
  border-bottom: black 0.5px solid;
  color: rgb(235, 235, 235);
  margin-bottom: 3em;
  padding-bottom: 3em;
}
.project {
  border-bottom: black 0.5px solid;
  margin-bottom: 2em;
}
.project:last-child {
  border-bottom: none;
  margin-bottom: 10em;
}
footer {
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 0.8em;
  text-align: center;
  /* background: rgba(10, 10, 10, 0.8); */
  width: 100vw;
  /* make source code clickable */
  cursor: pointer;
  border-top: rgba(0, 0, 0, 0.2) 1px solid;
}

.section {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  /* height: 100vh; */
  position: relative;
  color: black;
  /* font-size: 7vmin; */
  /* padding: 0 15%; */
}

section:nth-child(odd) {
  justify-content: flex-end;
}

.icon {
  width: 2cm;
  height: 2cm;
  margin: 4px;
  border: 2px solid #ffeded;
}

.icon:hover {
  opacity: 0.7;
}

.thumbnail {
  width: 100%;
  height: 100%;
  border: 3px solid black;
}
.eight {
  /* background: rgba(0, 0, 0, 0.2); */
  backdrop-filter: blur(5px);
  font-size: 1.3em;
  border-radius: 2em;
  margin-bottom: 1em;
}
.eight > a {
  padding: 0em;
  margin: 0em;
}

/*  
  .thickbottomline, bold and divine  
  Border so strong, it’s crisp by design  
  Sharp edges pop, you know it’s clean  
  The sleekest style you’ve ever seen  
*/
.thickbottomline {
  border-bottom: black 2px solid;
}
.tab {
  font-family: "Nunito Sans", sans-serif;
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  font-family: "Nunito Sans", sans-serif;
  display: inline-block;
  padding: 5px 20px;
  line-height: 30px;
  margin: 7px 0;
  outline: none;
  border: none;
  justify-content: center;
  border-radius: 5px;
  background: rgb(158, 7, 7);
  color: #dbd7dd;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  font-size: 1.5em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Change background color of buttons on hover */
.tab button:hover {
  background: rgb(112, 7, 7);
  color: black;
  text-decoration: underline;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: rgb(112, 7, 7);
}

/* Style the tab content */
.tabcontent {
  display: none;
  animation: fadeEffect .75s; 
  padding: 6px 12px;
  border-top: 2px solid black;
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}